<launch>
	
	
	<include  file="$(find gazebo_ros)/launch/empty_world.launch" />
	<include  file="$(find crab_bot)/launch/arm_test.launch" />
	
	<!--
	<include  file="$(find crab_bot)/launch/inc.record.launch" />
	<include  file="$(find test_world)/launch/inc.rosbridge.launch" />
	
	<node  name="opt_ctrl"  pkg="gazebo_crab_plugin"  type="opt_ctrl"  output="screen" >
	</node>
	-->
	
	
</launch>
